<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testwww.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CE1589A1CACA60A007F1747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE158AE1CACA60A007F1747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE158B91CACA60A007F1747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
